hanko-auth::part(container) {
  background-color: var(--mantine-color-body);
  padding: 60px 50px 60px 50px;
}

[data-mantine-color-scheme=light]hanko-auth::part(headline1) {
  color: var(--mantine-color-black);
}
[data-mantine-color-scheme=dark]hanko-auth::part(headline1) {
  color: var(--mantine-color-white);
}

[data-mantine-color-scheme=light]hanko-auth::part(headline2) {
  color: var(--mantine-color-black);
}
[data-mantine-color-scheme=dark]hanko-auth::part(headline2) {
  color: var(--mantine-color-white);
}

[data-mantine-color-scheme=light]hanko-auth::part(paragraph) {
  color: var(--mantine-color-black);
}
[data-mantine-color-scheme=dark]hanko-auth::part(paragraph) {
  color: var(--mantine-color-white);
}

hanko-auth::part(divider-text) {
  background-color: var(--mantine-color-body);
  color: var(--divider-color,var(--mantine-color-dimmed));
}

hanko-auth::part(divider-line)  {
  color: var(--divider-color,var(--mantine-color-dimmed))
}

hanko-auth::part(primary-button) {
  background-color: var(--mantine-color-main-filled);
  border-color: var(--mantine-color-main-filled);
  color: var(--_button-color,var(--button-color,var(--mantine-color-white)));
  font-weight: 550;
}

hanko-auth::part(primary-button):hover {
  background-color: var(--mantine-color-main-filled-hover);
  border-color: var(--mantine-color-main-filled-hover);
  color: var(--_button-color,var(--button-color,var(--mantine-color-white)));
}

hanko-auth::part(link) {
  color: var(--mantine-color-dark-2);
}

hanko-auth::part(error) {
  background-color: var(--mantine-color-red-light);
  border-color: var(--mantine-color-red-outline);
  border: calc(0.0625rem * var(--mantine-scale)) solid transparent;
}

hanko-auth::part(error-text){
  margin-left: 2px;
}

[data-mantine-color-scheme=light]hanko-auth::part(error-text) {
  color: var(--mantine-color-black);
}
[data-mantine-color-scheme=dark]hanko-auth::part(error-text) {
  color: var(--mantine-color-white);
}